.calculator {
    margin-left: 500px;
    width: 320px;
    height: 420px;
    background: #eee;
    border-radius: 5px;
}

.output {
    width: 294px;
    height: 70px;
    display: flex;
    margin-top: 10px;
    margin-left: 14px;
    border-radius: 5px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);

    line-height: 30px;
    text-align: center;
}

#ely {
    overflow-y: scroll;
    background-color: #dfdbdb;
    width: 294px;
    height: 100px;
}
  
#elx {
    overflow-x: scroll;
    background-color: #dfdbdb;
    width: 294px;
    height: 70px;
    text-align: left;
}

.logs {
    width: 280px;
    height: 100px;

    margin-top: 10px;
    margin-left: 14px;
}

.all-buttons {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.buttons {

    flex-grow: 0;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    
    background: rgb(199, 175, 175);

}

.sum {
    width: 96px;
    background-color: green;

}

.dev {
    font-size: 10px;
}